main {

    width: 72%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 2rem;

    background: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);

    border-radius: 5px;
}

body {
    background-image: url(../../img/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}


#galeria > section {


    border-radius: 5px;


    height: 800px;


    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
}

#galeria > section >  header {

    border-radius: 5px;
    background-color: rgba(0, 0 , 0 , 0.85);
    color: rgba( 255, 255, 255, 1);
    text-align: center;
}

#galeria > section > header h2 {
    position: relative;
    padding-bottom: .75rem;
}

#galeria > section > header h2:after {
    content: '';
    position: absolute;
    margin: auto;
    right: 0;
    bottom: 0;
    left: 0;
    width: 10%;
    height: 1px;
    background-color: rgba( 255, 255, 255, 0.6);
}

#galeria > section > header p {
    text-transform: uppercase;
    color: rgba( 255, 255, 255, 0.6);
    font-weight: 300;
    font-size: .8rem;
    letter-spacing: .25rem;
}

#galeria > section > header > p > a {

    text-decoration: none;
}

#galeria > section > header {

    padding: 2rem;
    padding-bottom: 1rem;
}



.kontener{

    position: relative;
    width: 70%;
    height: 60%;
    margin: 70px auto;
}




.kontener:before{

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0 ,0 ,0.6);
    transition: 0.5s;
}

.kontener:hover:before{

    top: -40px;
    left: -40px;
}

.kontener .przesuwanie{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.kontener .przesuwanie div{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
}

.kontener .przesuwanie div.pierwszy{

    opacity: 1;
    visibility: visible;
}

.kontener .przesuwanie div img{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sterowanie{

    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 160px;
    background: rgba(0, 0 ,0 ,0.6);
    z-index: 1;
    transition: 0.5s;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.kontener:hover .sterowanie{

    bottom: -40px;
    right: -80px;
}

.nastepne, .poprzednie{

    position: absolute;
    width: 80px;
    height: 80px;
    margin: 0;
    padding: 0;
    background: rgba(255,255,255, 0.8);
    color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.nastepne{
    bottom: 80px;
    right: 0;
    border-bottom: 1px solid rgba(0, 0,0, 0.2);
}

.poprzednie{

    bottom: 0;
    right: 0;
}

footer > div {

    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    padding: 2rem;
    margin-bottom: 30px;
}


