#element {
    margin:0;
    padding:0;
    font-size:100%;
}



body {
    background-image: url(../../img/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

main {

    width: 72%;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;


    margin-bottom: 2rem;

    background: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);

    border-radius: 4px;
}

#main-photo{

    height: 500px;
}

#opis img {

    border-radius: 4px;
    width: 100%;
    height: 100%;
}


    #opis > header {

        text-align: center;
        background: rgba(255, 255, 255, 1);

    }

    #opis > header h2 {
        position: relative;
        padding-bottom: .75rem;
    }

    #opis > header h2:after {
        content: '';
        position: absolute;
        margin: auto;
        right: 0;
        bottom: 0;
        left: 0;
        width: 10%;
        height: 2px;
        background-color: rgba(0, 0, 0, 0.15);
    }

    #opis > header p {
        text-transform: uppercase;
        font-weight: 300;
        font-size: .8rem;
        letter-spacing: .25rem;
        margin: 0;
    }

    #opis > header {
        padding: 4.5rem;
    }

    #opis > article {

        text-align: justify;
        padding: 5rem;
        color: rgba(0,0,0,0.8);
    }



#zdjecia {


    padding: 80px;
    background-color: rgba(0 , 0 , 0 , 0.7);
}


    .galeria{

        display: flex;
        flex-wrap: wrap;
    }

        .zdjecie img{

            height: 100%;
            width: 100%;
        }

        .zdjecie {

            transition: .5s ease-in-out;
            z-index: 1;
            padding: 0px;
            margin: 0px;
        }

        .zdjecie:hover{

            transform: scale(1.2);
            z-index: 10;
        }



#zdjecia > section {

        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
        }

        #zdjecia > section >  header {

            background-color: rgba(0, 0 , 0 , 0.65);
            color: rgba( 255, 255, 255, 1);
            text-align: center;
        }

        #zdjecia > section > header h2 {
            position: relative;
            padding-bottom: .75rem;
        }

        #zdjecia > section > header h2:after {
            content: '';
            position: absolute;
            margin: auto;
            right: 0;
            bottom: 0;
            left: 0;
            width: 10%;
            height: 1px;
            background-color: rgba( 255, 255, 255, 0.6);
        }

        #zdjecia > section > header p {
            text-transform: uppercase;
            color: rgba( 255, 255, 255, 0.6);
            font-weight: 300;
            font-size: .8rem;
            letter-spacing: .25rem;
            margin: 0;
        }

        #zdjecia > section > header > p > a {

            text-decoration: none;
        }

        #zdjecia > section > header {
            padding: 2.2rem 1.5rem;
        }



#info {

    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    }

    .infomacje {

        padding: 0;
        margin: 0;

        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);

    }

    .infomacje > img {

        height: 100%;
        width: 100%;

    }

#o-mnie {

        background-color: rgba( 255,255 , 255 , 0.9);
    }

    #o-mnie > div {

        padding: 4rem;
        text-align: left;
    }

    #o-mnie > div > h2 {

        color: black;
        font-size: 2.5rem;
    }

    #o-mnie > div > p {

        text-align: justify;
        text-decoration: none;
        margin-top: 20px;
        color: rgba(0 , 0 , 0 , 0.8);
    }

#kontakt {

    background-color: rgba( 0, 0 , 0 , 0.9);
}

    #kontakt > div {

        padding: 4rem;
        text-align: right;
    }

    #kontakt > div > h2 {

        color: black;
        font-size: 2.5rem;
        color: white;
    }

    #kontakt > div > p {

        text-align: justify;
        text-decoration: none;
        margin-top: 20px;
        color: rgba(255 , 255 , 255 , 1);
    }



footer > div {

    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    padding: 2rem;
    margin-bottom: 30px;
}

